.Button {
  background-color: #d939ab; 
  border-color: #d939ab;
}

.Button:hover, .Button:active {
  background-color: #a21078 !important;
  border-color: #a21078;
}

.YellowButton {
  background-color: #ffc101;
  border-color: #ffc101;
  color: #000000;
}

.YellowButton:hover, .YellowButton:active {
  background-color:  #ffac00 !important;
  border-color: #ffac00;
  color: #000000;
}

.Wide {
  width: 100%;
}

.Small {
  font-size: 0.8rem;
}
